<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Haud QA Backend Exercise</title>
	<!-- <link rel="icon" href="/favicon.png" sizes="32x32" /> -->
	<style>
		body { margin: 0 0; padding: 2ex 2em; font-family: sans-serif; background: #f0f0f0; }
		h1, h2 { font-family: sans-serif; color: rgb(81,21,135); }
		hr { border: 0; height: 1px; background: rgb(81,21,135); }
	</style>
</head>
<body>
	<h1>Haud QA Backend Exercise</h1>
	<hr/>
	<p>Thank you for trying this test.</p>
	<p>The aim of this test is a RESTful API on this domain.</p>
	<p>Create Test Specification and execute the test for the following items:</p>
	<ol>
		<li>Get User</li>
		<li>Add User</li>
		<li>Delete User</li>
	</ol>
</body>
</html>